body{
    font-family: 'Itim', cursive;
    text-align: center;
    font-size: 18px;
}
.box{
    width: 550px;
    border: 2px solid black;
    padding: 15px;
    margin: 10px auto;
  }
html {
    width: 995px;
    margin: 0 auto;
}
h1{

    padding-top:30px;
    padding-bottom:15px;
}
p{
    margin:0px;
    padding:12.5px;
}
a{     
      background-color: #4CAF50;
      border: none ;
      color: white;
      padding: 18px 32px;
      text-decoration: none;
      margin-top:20px;
      margin: 10px 6px;
      cursor: pointer;
}