/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       body{
        font-family: 'Itim', cursive;
        text-align: center;
        font-size: 18px;
    }
       #map {
        height: 600px;
        width: 1000px;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      html {
        width: 995px;
        margin: 0 auto;
    }
    h3{
        text-align: center;
    }
    p{
        text-align:center;
        padding-top:10px;
        padding-bottom:20px;
    }
    body{
        padding-top:20px;
    }